header {
  text-align: center;
  height: auto;
  width: auto;
  margin: 15px;
  padding: 5px;
  border: 5px solid black;
  background-color: #ffa500;
}
body {
  height: 100vh;
  margin: 0;
  padding-top: 65px;
}

#box {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 15%;
  border: 1px solid #000;
  text-align: center;
  text-shadow: -2px 0 #f3aaaa, 0 1px #f8b4b4, 0 -2px #f39e9e;
  background-color: #ffa500;
}
#box2 {
  width: 50%;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  height: 15%;
  border: 1px solid #000;
  text-align: center;
  background-color: #ff69b4;
}
#box3 {
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  height: 75px;
  text-align: center;
  border: 1px solid #000000;
}
#box4 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 15%;
  border: 1px solid #000;
  text-align: center;
  text-shadow: -2px 0 #f3aaaa, 0 1px #f8b4b4, 0 -2px #f39e9e;
  font: 24px Helvetica, Arial, sans-serif;
}

.canvas {
  padding: 0;
  margin: auto;
  display: block;
  background-color: #ffffff;
}
.canvas1 {
  padding: 0;
  margin: auto;
  display: block;
}
.button {
  border: 5px solid #ff0000;
  -webkit-appearance: button;
  -moz-appearance: button;
  background-color: #ffffff;
  text-decoration-color: #b22222;
  padding: 0;
  margin: auto;
  display: block;
}
.text-mitten {
  text-align: center;
}
.meddelande {
  padding: 0;
  margin: auto;
  display: block;
}
.body {
  background-color: #adff2f;
}
.body1 {
  background-color: #c0c0c0;
}
.body3 {
  background-color: #ff69b4;
}

.hr {
  border: 5px solid #000000;
}

.text-startsida {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
}
.h4färg {
  color: #ff0000;
}

@media (max-width: 768px) {
  .göm {
    display: none;
  }
  .grid-container {
    border: 5px solid #000000;
    background-color: #ffa500;
  }
  .p3 {
    padding: 15px;
  }
  .rubrik {
    padding: 15px;
    padding-top: 60px;
    margin-top: -60px;
  }
  .bildStorlek {
    width: 100%;
    height: 100%;
  }
  .bildStorlekStart {
    width: 70%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.hr {
  color: #000;
  border: 6px solid #000000;
}

@media (min-width: 769px) {
  .göm2 {
    display: none;
  }
  .grid-container {
    display: inline-grid;
    border: 5px solid black;
    padding: 10px;
    grid-gap: 10px;
    grid-template-columns: 50% auto;
  }
  .grid-item {
    border: 2px solid #000000;
    padding: 5px;
    width: 100%;
    background-color: #ffa500;
  }
  .bildStorlek {
    width: 70%;
    height: 70%;
  }
  .bildStorlekStart {
    width: 50%;
    height: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .rubrik {
    padding-top: 60px;
    margin-top: -60px;
  }
}
@media (min-width: 1400px) {
  .fontStorlek {
    font-size: 1.7em;
  }

  .fontStorlek1 {
    font-size: 3em;
  }
  .navbar-fixed-top {
    min-height: 80px;
  }
  .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
  }
}
@media (min-width: 2500px) {
  .fontStorlek {
    font-size: 3em;
  }

  .fontStorlek1 {
    font-size: 5em;
  }
}
